<ion-header>
  <ion-toolbar>
    <ion-title>Rapport</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="modificarRapport()" *ngIf="sePuedeModificar()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item [style.--border-color]="'var(--ion-color-' + colorEstado(rapport.EstadoCliente) + ')'">
      <ion-input type="text" label="Cliente" label-placement="start" #cliente required
                 [(ngModel)]="numeroCliente"
                 name="cliente" (ionFocus)="seleccionarTexto($event)" (ionBlur)="leerClientePrincipal()"
                 [color]="colorEstado(rapport.EstadoCliente)" (press)="mostrarEstadoCliente(rapport.EstadoCliente)"></ion-input>
    </ion-item>
    <selector-direcciones-entrega cliente="{{rapport.Cliente}}" seleccionado="{{rapport.Contacto}}" (seleccionar)="seleccionarContacto($event)" forzarEstado="0"></selector-direcciones-entrega>

    <ion-item>
      <ion-select label="Tipo de Rapport" label-placement="start" name="tipo" [(ngModel)]="rapport.Tipo">
        <ion-select-option value="V" selected="rapport.Tipo == 'V'">Visita</ion-select-option>
        <ion-select-option value="T" selected="rapport.Tipo == 'T'">Teléfono</ion-select-option>
        <ion-select-option value="W" selected="rapport.Tipo == 'W'">WhatsApp</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Estado" label-placement="start" name="estado" [(ngModel)]="rapport.Estado">
        <ion-select-option [value]="-1" selected="rapport.Estado == -1">Nulo</ion-select-option>
        <ion-select-option [value]="0" selected="rapport.Estado == 0">Vigente</ion-select-option>
        <ion-select-option [value]="1" selected="rapport.Estado == 1">No Contactado</ion-select-option>
        <ion-select-option [value]="2" selected="rapport.Estado == 2">Gestión Administrativa</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-checkbox [(ngModel)]="rapport.Pedido" name="Pedido">Pedido</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="rapport.ClienteNuevo" name="ClienteNuevo">Cliente Nuevo</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="rapport.Aviso" name="Aviso">Aviso</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="rapport.Aparatos" name="Aparatos">Aparatos</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="rapport.GestionAparatos" name="GestionAparatos">Gestión Aparatos</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="rapport.PrimeraVisita" name="PrimeraVisita">Primera Visita</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-textarea label="Comentarios" label-placement="start" rows="5"
                    [(ngModel)]="rapport.Comentarios" name="Comentarios"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="dejarDeVisitar" color="danger" name="dejarDeVisitar">Quitar de mi listado</ion-toggle>
    </ion-item>

    <ion-item *ngIf="mostrarTipoCentro()">
      <ion-select label="Tipo de Centro" label-placement="start" name="tipoCentro" [(ngModel)]="rapport.TipoCentro">
        <ion-select-option value="0" selected="rapport.TipoCentro == 0">No sé cómo es</ion-select-option>
        <ion-select-option value="1" selected="rapport.TipoCentro == 1">Sólo Estética</ion-select-option>
        <ion-select-option value="2" selected="rapport.TipoCentro == 2">Sólo Peluquería</ion-select-option>
        <ion-select-option value="3" selected="rapport.TipoCentro == 3">Peluquería y Estética</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" label="Usuario" label-placement="start" required
                 [ngModel]="rapport.Usuario"
                 name="Usuario" [disabled]="true"></ion-input>
    </ion-item>

  </form>
  {{errorMessage}}
</ion-content>