<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirEnlaceWeb(producto.UrlEnlace)">
        <ion-icon name="globe-outline"></ion-icon>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="vistaSeleccionada" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="videos">
      <ion-label>Vídeos</ion-label>
    </ion-segment-button>
  </ion-segment>  
</ion-header>

<ion-content>
  <div *ngIf="vistaSeleccionada === 'info'">    
    <ion-list>
      <ion-item>
        <ion-label>Referencia</ion-label>
        <ion-input type="text" [(ngModel)]="productoActual" (keyup.enter)="cargar()" (ionFocus)="seleccionarTexto($event)"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="producto">
      <ion-item *ngIf="producto.RoturaStockProveedor">
        <ion-label color="danger">Producto en rotura de stock del proveedor</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <p slot="end">{{producto.Nombre}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Tamaño</ion-label>
        <p slot="end">{{producto.Tamanno}} {{producto.UnidadMedida}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Familia</ion-label>
        <p slot="end">{{producto.Familia}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Precio (profesional)</ion-label>
        <p slot="end">{{producto.PrecioProfesional | currency:'EUR'}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <p slot="end">{{producto.Estado}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Subgrupo ({{producto.Grupo}})</ion-label>
        <p slot="end">{{producto.Subgrupo}}</p>
      </ion-item>
    </ion-list>
    <div *ngIf="producto">
      <ion-list *ngFor="let stock of producto.Stocks">
        <ion-item-divider color="light">{{stock.Almacen}}</ion-item-divider>
        <ion-item>
          <ion-label>Stock</ion-label>
          <p slot="end">{{stock.Stock}}</p>
        </ion-item>
        <ion-item *ngIf="stock.PendienteEntregar > 0">
          <ion-label>Pendientes de Entregar</ion-label>
          <p slot="end">{{stock.PendienteEntregar}}</p>
        </ion-item>
        <ion-item *ngIf="stock.PendienteRecibir > 0">
          <ion-label>Pendientes de Recibir</ion-label>
          <p slot="end">{{stock.PendienteRecibir}}</p>
        </ion-item>
        <ion-item *ngIf="stock.FechaEstimadaRecepcion < '9999-12-31T23:59:59'">
          <ion-label>Fecha Estimada de Recepción</ion-label>
          <p slot="end">{{stock.FechaEstimadaRecepcion | date:'shortDate'}}</p>
        </ion-item>
        <ion-item *ngIf="stock.PendienteReposicion > 0">
          <ion-label>Pendientes de Reposición</ion-label>
          <p slot="end">{{stock.PendienteReposicion}}</p>
        </ion-item>
        <ion-item *ngIf="stock.CantidadDisponible != stock.Stock">
          <ion-label>Cantidad Disponible</ion-label>
          <p slot="end">{{stock.CantidadDisponible}}</p>
        </ion-item>
      </ion-list>
      <div class="ion-text-center">
        <ion-img *ngIf="producto.UrlFoto" src="{{producto.UrlFoto}}"></ion-img>
      </div>
    </div>
    <div>
      <ion-button *ngIf="!clientes" expand="block" (click)="cargarClientes()">Ver clientes con compra</ion-button>
      <ion-list>
        <ion-item *ngFor="let cliente of clientes">
          <ion-label class="ion-text-wrap">
            <p class="ion-text-wrap"><i>{{ cliente.Cliente }}/{{ cliente.Contacto }}</i></p>
            <h2 class="ion-text-wrap">{{ cliente.Nombre }}</h2>
            <h3 class="ion-text-wrap">{{ cliente.Direccion }}</h3>
            <p class="ion-text-wrap">{{ cliente.CodigoPostal }} {{ cliente.Poblacion }}</p>
            <p class="ion-text-wrap">Cantidad: {{ cliente.Cantidad }}</p>
            <p class="ion-text-wrap">Última compra: {{ cliente.UltimaCompra | date: 'dd/MM/yy' }}</p>
            <p class="ion-text-wrap">Estados: {{ cliente.EstadoMinimo }}/{{ cliente.EstadoMaximo }} </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  
  <div *ngIf="vistaSeleccionada === 'videos'">
    <ion-list>
      <ion-item *ngFor="let video of videos" (click)="abrirVideo(video)">
        <ion-thumbnail slot="start">
          <ion-img [src]="video.UrlImagen || 'assets/img/sin-imagen.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ video.Titulo }}</h2>
          <p>{{ video.FechaPublicacion | date:'dd/MM/yyyy' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>  
</ion-content>
