<div class="adjunta" *ngIf="imagen">
  <img class="miniatura" [src]="imagen.dataUrl" alt="Imagen que se va a enviar" />
  <ion-button size="small" fill="clear" color="medium" (click)="quitarImagen()">Quitar imagen</ion-button>
</div>
<ion-note *ngIf="errorImagen" color="danger" class="error-imagen">{{ errorImagen }}</ion-note>

<div class="botones">
  <input #fichero type="file" accept="image/*" hidden (change)="alElegirFichero($event)" />
  <ion-button size="small" fill="outline" (click)="fichero.click()">Adjuntar captura de la galería</ion-button>
  <ion-button *ngIf="puedeLeerPortapapeles" size="small" fill="outline" (click)="pegarImagen()">Pegar imagen</ion-button>
  <ng-content></ng-content>
</div>
