<ion-searchbar #filtro placeholder="Introduzca algún dato del producto" (ionInput)="filtrarBusqueda($event)" (keyup.enter)="fijarFiltro($event)" (ionFocus)="seleccionarTexto($event)"></ion-searchbar>
<ion-content>
    <ion-list>
      <ion-item *ngFor="let producto of datosFiltrados" (click)="abrirDetalle(producto)" [color]="producto.estado == 0 ? '' : 'light'">
        <h2>{{producto.texto}}</h2>
        <p>{{producto.tamanno}} {{producto.unidadMedida}} ({{producto.producto}} - {{producto.familia}})</p>
        <p>Precio Tarifa {{producto.precio | currency:'EUR'}}<span *ngIf="producto.cantidad || producto.cantidadOferta"> - Cantidad {{producto.cantidadOferta == 0 ? producto.cantidad : producto.cantidad + "+" + producto.cantidadOferta}}</span></p>
        <p *ngIf="producto.fechaUltimaVenta != '0001-01-01T00:00:00'">Última compra {{producto.fechaUltimaVenta | date:'dd/MM/yy'}}</p>
        <ion-badge *ngIf="producto.fechaUltimaVenta != '0001-01-01T00:00:00' || producto.cantidad || producto.cantidadOferta" [color]="producto.colorStock" item-right>{{producto.cantidadVendida}} - {{producto.cantidadAbonada}}</ion-badge>
      </ion-item>
    </ion-list>
    <button ion-button block *ngIf="numeroDeDatos() <= 5" (click)="buscarEnTodosLosProductos(filtro.value)">Buscar en todos los productos</button>
</ion-content>
