<ion-searchbar #filtro placeholder="Introduzca algún dato del producto" (ionInput)="filtrarBusqueda($event)" (keyup.enter)="fijarFiltro($event)" (ionFocus)="seleccionarTexto($event)"></ion-searchbar>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let producto of datosFiltrados" (click)="abrirDetalle(producto)">
            <h2>{{producto.texto}}</h2>
            <p>{{producto.tamanno}} {{producto.unidadMedida}} ({{producto.producto}} - {{producto.familia}})</p>
            <p>Última compra {{producto.fechaUltimaVenta | date:'dd/MM/yy'}} <span *ngIf="producto.cantidad || producto.cantidadOferta">- Cantidad {{producto.cantidadOferta == 0 ? producto.cantidad : producto.cantidad + "+" + producto.cantidadOferta}}</span></p>
            <ion-badge [color]="producto.colorStock" item-right>{{producto.cantidadVendida}} - {{producto.cantidadAbonada}}</ion-badge>
        </ion-item>
    </ion-list>
    <button ion-button block *ngIf="numeroDeDatos() <= 5" (click)="buscarEnTodosLosProductos(filtro.value)">Buscar en todos los productos</button>
</ion-content>
