<ion-searchbar #filtro placeholder="Introduzca algún dato del producto" (input)="filtrarBusqueda($event)" (keyup.enter)="fijarFiltro($event)" (focus)="seleccionarTexto($event)"></ion-searchbar>
<ion-content>
    <ion-list>
        <ion-item *ngFor="#producto of datosFiltrados" (click)="abrirDetalle(producto)">
            <h2>{{producto.texto}}</h2>
            <p>{{producto.tamanno}} {{producto.unidadMedida}} ({{producto.producto}} - {{producto.familia}})</p>
            <ion-badge secondary item-right>{{producto.cantidadVendida}} - {{producto.cantidadAbonada}}</ion-badge>
        </ion-item>
    </ion-list>
    <button block *ngIf="numeroDeDatos() === 0" (click)="buscarEnTodosLosProductos(filtro.value)">Buscar en todos los productos</button>
</ion-content>
