<ion-header>
    <ion-navbar>
        <button ion-button menuToggle *ngIf="usuario && usuario.nombre">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Usuario</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div [ngSwitch]="authType" class="login" *ngIf="!(usuario && usuario.nombre)">
        <ion-segment [(ngModel)]="authType">
            <ion-segment-button value="login">
                Iniciar Sesión
            </ion-segment-button>
            <ion-segment-button value="signup">
                Registrarse
            </ion-segment-button>
        </ion-segment>
        
        <form *ngSwitchCase="'login'" #loginCreds="ngForm" (ngSubmit)="login(loginCreds.value)">
            <ion-item>
                <ion-label>Nombre de usuario</ion-label>
                <ion-input type="text" name="username" ngModel></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input type="password" name="password" ngModel></ion-input>
            </ion-item>

            <div padding>
                <button ion-button block type="submit">Iniciar Sesión</button>
            </div>

        </form>
            

        <form *ngSwitchCase="'signup'" #signupCreds="ngForm" (ngSubmit)="signup(signupCreds.value)">
            <ion-item>
                <ion-label>Nombre de Usuario</ion-label>
                <ion-input type="text" ngControl="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input type="password" ngControl="password"></ion-input>
            </ion-item>

            <div padding>
                <button ion-button block type="submit">Registrarse</button>
            </div>

        </form>

    </div>

    <div padding>
        <p *ngIf="error" class="error">{{ error._body }}</p>
    </div>

    <div *ngIf="(usuario && usuario.nombre)">
        <div padding>
            <h1>Hola, {{ usuario.nombre }}</h1>
            <button ion-button block (click)="logout()">Cerrar Sesión</button>
            <h3>Versión 1.13.26</h3>
            <p>Corregidos pequeños fallos en rapports</p>
            <p><strong>Permite quitarse clientes del listado</strong></p>
            <p><strong>Se puede modificar la fecha de entrega</strong></p>
            <p>Muestra los clientes que faltan por visitar</p>
            <p>Ahora puedes descargar presupuestos en PDF</p>
            <p>Permite filtrar los pedidos por estado y ver presupuestos</p>
            <p>Se pueden crear clientes y contactos desde el selector de clientes.</p>
            <p>Se pueden pasar los clientes de estado 5 a estado 0 o 9</p>
            <p>Los clientes de estado 7 los marcamos en azul, estado 5 en rojo y 0-9 en verde.</p>
            <p></p>
        </div>
    </div>
</ion-content>
