<ion-header>
    <ion-navbar>
        <button ion-button menuToggle *ngIf="usuario && usuario.nombre">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Usuario</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div [ngSwitch]="authType" class="login" *ngIf="!(usuario && usuario.nombre)">
        <ion-segment [(ngModel)]="authType">
            <ion-segment-button value="login">
                Iniciar Sesión
            </ion-segment-button>
            <ion-segment-button value="signup">
                Registrarse
            </ion-segment-button>
        </ion-segment>
        
        <form *ngSwitchCase="'login'" #loginCreds="ngForm" (ngSubmit)="login(loginCreds.value)">
            <ion-item>
                <ion-label>Nombre de usuario</ion-label>
                <ion-input type="text" name="username" ngModel></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input type="password" name="password" ngModel></ion-input>
            </ion-item>

            <div padding>
                <button ion-button block type="submit">Iniciar Sesión</button>
            </div>

        </form>
            

        <form *ngSwitchCase="'signup'" #signupCreds="ngForm" (ngSubmit)="signup(signupCreds.value)">
            <ion-item>
                <ion-label>Nombre de Usuario</ion-label>
                <ion-input type="text" ngControl="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input type="password" ngControl="password"></ion-input>
            </ion-item>

            <div padding>
                <button ion-button block type="submit">Registrarse</button>
            </div>

        </form>

    </div>

    <div padding>
        <p *ngIf="error" class="error">{{ error._body }}</p>
    </div>

    <div *ngIf="(usuario && usuario.nombre)">
        <div padding>
            <h1>Hola, {{ usuario.nombre }}</h1>
            <button ion-button block (click)="logout()">Cerrar Sesión</button>
            <h3>Versión 1.14.5</h3>
            <p><strong>Desde el producto podemos ver los clientes que lo han comprado</strong></p>
            <p><strong>Se puede buscar entre todos los rapports</strong></p>
            <p>En la plantilla mostramos si el cliente tiene o no correo electrónico</p>
            <p>Al crear el cliente se meten separados los datos de la dirección</p>
            <p>Se muestran todos los pedidos de un cliente</p>
            <p>Se muestran los enlaces de seguimiento de las agencias</p>
            <p>Si no hay stock disponible pero ya está pedido, aparece en azul</p>
            <p>Al crear clientes permite marcar facturación electrónica</p> 
            <p></p>
        </div>
    </div>
</ion-content>
