<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Extracto del Cliente</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h3>Selección Cliente</h3>
    <selector-clientes *ngIf="mostrarClientes" (seleccionar)="cargarDeuda($event)"></selector-clientes>

    <ion-list>
        <ion-item *ngFor="let mov of movimientosDeuda">
            <h3>{{mov.vencimientoMostrar | date: 'dd/MM/yy'}}</h3>
            <p>{{mov.concepto}}</p>
            <p>{{mov.importePendiente | currency:'EUR':true:'1.2-2' }}</p>
        </ion-item>
    </ion-list>

    <ion-card *ngIf="!mostrarClientes">
        <ion-card-header>
            Resumen de movimientos
        </ion-card-header>

        <ion-card-content>
            <ion-row *ngIf="resumenDeuda.vencida">
                <ion-col>Total Vencida</ion-col>
                <ion-col>{{resumenDeuda.vencida | currency:'EUR':true:'1.2-2'}}</ion-col>
            </ion-row>
            <ion-row style="background-color: red; color: white" *ngIf="resumenDeuda.impagados">
                <ion-col>Total Impagados</ion-col>
                <ion-col>{{resumenDeuda.impagados | currency:'EUR':true:'1.2-2'}}</ion-col>
            </ion-row>
            <ion-row style="background-color: red; color: white" *ngIf="resumenDeuda.abogado">
                <ion-col>Total Abogado</ion-col>
                <ion-col>{{resumenDeuda.abogado | currency:'EUR':true:'1.2-2'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col><strong>TOTAL</strong></ion-col>
                <ion-col><strong>{{resumenDeuda.total | currency:'EUR':true:'1.2-2'}}</strong></ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>
</ion-content>
