<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Referencia</ion-label>
      <ion-input type="text" [(ngModel)]="productoActual" (keyup.enter)="cargar()" (ionFocus)="seleccionarTexto($event)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="producto">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p item-right>{{producto.Nombre}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Tamaño</ion-label>
      <p item-right>{{producto.Tamanno}} {{producto.UnidadMedida}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Familia</ion-label>
      <p item-right>{{producto.Familia}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Precio (profesional)</ion-label>
      <p item-right>{{producto.PrecioProfesional | currency:'EUR'}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <p item-right>{{producto.Estado}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Subgrupo ({{producto.Grupo}})</ion-label>
      <p item-right>{{producto.Subgrupo}}</p>
    </ion-item>
  </ion-list>
  <div *ngIf="producto">
    <ion-list *ngFor="let stock of producto.Stocks">
      <ion-item-divider color="light">{{stock.Almacen}}</ion-item-divider>
      <ion-item>
        <ion-label>Stock</ion-label>
        <p item-right>{{stock.Stock}}</p>
      </ion-item>
      <ion-item *ngIf="stock.PendienteEntregar > 0">
        <ion-label>Pendientes de Entregar</ion-label>
        <p item-right>{{stock.PendienteEntregar}}</p>
      </ion-item>
      <ion-item *ngIf="stock.PendienteRecibir > 0">
        <ion-label>Pendientes de Recibir</ion-label>
        <p item-right>{{stock.PendienteRecibir}}</p>
      </ion-item>
      <ion-item *ngIf="stock.FechaEstimadaRecepcion < '9999-12-31T23:59:59'">
        <ion-label>Fecha Estimada de Recepción</ion-label>
        <p item-right>{{stock.FechaEstimadaRecepcion | date:'shortDate'}}</p>
      </ion-item>
      <ion-item *ngIf="stock.PendienteReposicion > 0">
        <ion-label>Pendientes de Reposición</ion-label>
        <p item-right>{{stock.PendienteReposicion}}</p>
      </ion-item>
      <ion-item *ngIf="stock.CantidadDisponible != stock.Stock">
        <ion-label>Cantidad Disponible</ion-label>
        <p item-right>{{stock.CantidadDisponible}}</p>
      </ion-item>
    </ion-list>
    <div text-center>
      <img *ngIf="producto.UrlFoto" src="{{producto.UrlFoto}}" (click)="abrirFoto(producto.UrlFoto)" />
    </div>
  </div>
</ion-content>
