<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Línea Venta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirProducto()">
        <ion-icon name="open"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
      <ion-item>
        <ion-label for="producto">Producto</ion-label>
        <ion-input #inputProducto type="text" class="form-control" id="producto" required disabled="{{linea.estado > 1 || linea.picking > 0}}"
                   (ionBlur)="cambiarProducto($event.target.value)" [ngModel]="linea.producto"
                   name="producto" (ionFocus)="seleccionarTexto($event)" (press)="abrirProducto()"></ion-input>
      </ion-item>
        <ion-item>
            <ion-label for="texto">Texto</ion-label>
            <ion-input type="text" class="form-control" id="texto" disabled="{{linea.estado > 2}}"
                       [(ngModel)]="linea.texto" name="texto"
                       (ionFocus)="seleccionarTexto($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="cantidad">Cantidad</ion-label>
            <ion-input type="text" class="form-control" id="cantidad" disabled="{{linea.estado > 1 || linea.picking > 0}}"
                       [(ngModel)]="linea.cantidad" name="cantidad"
                       (ionBlur)="cambiarProducto(linea.producto)"
                       (ionFocus)="seleccionarTexto($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="precio">Precio</ion-label>
            <ion-input type="number" class="form-control" id="precio" disabled="{{linea.estado > 2}}"
                       [(ngModel)]="linea.precio" name="precio"
                       (ionFocus)="seleccionarTexto($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="descuento">Descuento</ion-label>
            <ion-input class="form-control" id="descuento" disabled="{{linea.estado > 2 || !linea.aplicarDescuento}}"
                       [ngModel]="descuentoCadena" (change)="actualizarDescuento($event.target.value)" name="descuento"
                       (ionFocus)="seleccionarTexto($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="aplicarDescuento">Aplicar Descuento</ion-label>
            <ion-checkbox class="form-control" id="aplicarDescuento" disabled="{{linea.estado > 2}}"
                       [(ngModel)]="linea.aplicarDescuento" name="aplicarDescuento"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label for="descuentoProducto">Descuento Producto</ion-label>
            <ion-input class="form-control" id="descuentoProducto" disabled="true"
                        [ngModel]="linea.descuentoProducto | percent" name="descuentoProducto"
                        (ionFocus)="seleccionarTexto($event)"></ion-input>
        </ion-item>

</form>
    {{errorMessage}}
</ion-content>
