<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Línea Venta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirProducto()">
        <ion-icon name="open"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
      <ion-item>
        <ion-input label="Producto" label-placement="start" type="text" #inputProducto required [disabled]="linea.estado > 1 || linea.picking > 0"
                   (ionBlur)="cambiarProducto($event.target.value)" [ngModel]="linea.Producto"
                   name="producto" (ionFocus)="seleccionarTexto($event)" (press)="abrirProducto()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Texto" label-placement="start" type="text" [disabled]="linea.estado > 2"
                   [(ngModel)]="linea.texto" name="texto"
                   (ionFocus)="seleccionarTexto($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Cantidad" label-placement="start" type="text" [disabled]="linea.estado > 1 || linea.picking > 0"
                   [(ngModel)]="linea.Cantidad" name="Cantidad"
                   (ionBlur)="cambiarCantidad(linea.Producto)"
                   (ionFocus)="seleccionarTexto($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Precio" label-placement="start" type="number" [disabled]="linea.estado > 2"
                   [(ngModel)]="linea.PrecioUnitario" name="PrecioUnitario"
                   (ionFocus)="seleccionarTexto($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Descuento" label-placement="start" [disabled]="linea.estado > 2 || !linea.AplicarDescuento"
                   [ngModel]="descuentoCadena" (change)="actualizarDescuento($event.target.value)" name="DescuentoLinea"
                   (ionFocus)="seleccionarTexto($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox [disabled]="linea.estado > 2"
                   [(ngModel)]="linea.AplicarDescuento" name="AplicarDescuento">Aplicar Descuento</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-input label="Descuento Producto" label-placement="start" [disabled]="true"
                   [ngModel]="linea.DescuentoProducto | percent" name="DescuentoProducto"
                   (ionFocus)="seleccionarTexto($event)"></ion-input>
      </ion-item>

</form>
    {{errorMessage}}
</ion-content>
