<ion-item>
  <ion-select label="Plazos de Pago" label-placement="start" *ngIf="datosFiltrados" [(ngModel)]="seleccionadoCodigo" (ionChange)="obtenerPlazo($event)" [disabled]="cargando">
    <ion-select-option *ngFor="let plazo of datosFiltrados" [value]="plazo.plazoPago">
      {{plazo.descripcion}}
    </ion-select-option>
  </ion-select>
  <ion-spinner *ngIf="cargando" name="crescent" slot="end"></ion-spinner>
</ion-item>
<ion-item *ngIf="tieneRestriccionDeuda()" [color]="getColorDeuda()" lines="none">
  <ion-label class="ion-text-wrap">
    <ion-text>
      <small>{{getMensajeDeuda()}}</small>
    </ion-text>
  </ion-label>
</ion-item>
