.PlantillaVenta {

}

.swiper-slide img {
    max-width: 4rem; 
    max-height: 4rem;
}
 
.slide-zoom {
    height: 100%;
 }

ion-scroll {
    height: 100%;
}

/*
.swiper-slide {
    overflow-y: scroll;
    display: block;
}
*/
