<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedido Venta</ion-title>
</ion-navbar>

<ion-content *ngIf="pedido">
    <ion-segment [(ngModel)]="segmentoPedido">
        <ion-segment-button value="cabecera">
            Cabecera
        </ion-segment-button>
        <ion-segment-button value="lineas">
            Líneas
        </ion-segment-button>
        <ion-segment-button value="comentarios">
            Comentarios
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segmentoPedido">
        <div *ngSwitchWhen="'cabecera'">
            <h1>Pedido {{pedido.numero}}</h1>
            <h2>Creado por {{pedido.usuario}}</h2>
            <ion-list>
                <selector-direcciones-entrega cliente="{{pedido.cliente}}" (seleccionar)="pedido.contacto = $event.contacto"></selector-direcciones-entrega>
                <ion-item>
                    <ion-label>Fecha Pedido</ion-label>
                    <ion-input type="date">{{pedido.fechaMostrar | date:'dd/MM/yy'}} </ion-input>
                </ion-item>
            </ion-list>
            <selector-formas-pago seleccionado="{{pedido.formaPago}}" (seleccionar)="pedido.formaPago = $event"></selector-formas-pago>
            <selector-plazos-pago seleccionado="{{pedido.plazosPago}}" (seleccionar)="pedido.plazosPago = $event"></selector-plazos-pago>
            <ion-item>
                <ion-label>Fecha Vencimiento</ion-label>
                <ion-input type="date">{{pedido.fechaMostrar | date:'dd/MM/yy'}} </ion-input>
            </ion-item>

            <ion-item (doubletap)="cambiarIVA()">
                <ion-row>
                    <ion-col width-50>{{pedido.periodoFacturacion}}</ion-col>
                    <ion-col width-50>{{pedido.iva}}</ion-col>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-label>Servir Junto</ion-label>
                <ion-toggle [(ngModel)]="pedido.servirJunto"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Mantener Junto</ion-label>
                <ion-toggle [(ngModel)]="pedido.mantenerJunto"></ion-toggle>
            </ion-item>
        </div>
        <div *ngSwitchWhen="'lineas'">
            <ion-content>
                <ion-list>
                    <ion-item *ngFor="#linea of pedido.LineasPedido">
                        <h2>{{linea.texto}}</h2>
                        <ion-row>
                            <ion-col width-25 style="text-align:center"><p>{{linea.producto}}</p></ion-col>
                            <ion-col width-10 style="text-align:center"><p>{{linea.cantidad}}</p></ion-col>
                            <ion-col width-20 style="text-align:right"><p>{{linea.precio | currency:'EUR':true}}</p></ion-col>
                            <ion-col width-20 style="text-align:center"><p>{{linea.descuento | percent}}</p></ion-col>
                            <ion-col width-25 style="text-align:right"><p>{{linea.baseImponible | currency:'EUR':true}}</p></ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ion-content>            
            <button fab fab-bottom fab-center>
                <ion-icon name="add"></ion-icon>
            </button>
        </div>
        <ion-list *ngSwitchWhen="'comentarios'">
            <ion-item>
                <ion-label floating>Comentarios Ruta</ion-label>
                <ion-textarea [(ngModel)]="pedido.comentarios" ngDefaultControl></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>Comentarios Picking</ion-label>
                <ion-input [(ngModel)]="pedido.comentarioPicking"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>