<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Plantilla Venta</ion-title>
        <ion-buttons end *ngIf="sePuedeAvanzar()" >
            <button ion-button (click)="siguientePantalla()">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>   
</ion-header>

<ion-content>
    <ion-slides (ionSlideWillChange)="avanzar($event)">
        <ion-slide>
            <ion-item>
                <selector-almacenes seleccionado="{{almacen}}" (seleccionar)="almacen = $event"></selector-almacenes>
            </ion-item>
            <selector-clientes #inputCliente (seleccionar)="cargarProductos($event)"></selector-clientes>
        </ion-slide>
        <ion-slide *ngIf="clienteSeleccionado">
            <selector-plantilla-venta cliente="{{clienteSeleccionado.cliente}}" estadoCliente="{{clienteSeleccionado.estado}}" almacen="{{almacen}}"></selector-plantilla-venta>
        </ion-slide>
        <ion-slide  style="overflow-y:scroll">
            <ion-content>
                <ion-list *ngIf="productosResumen">
                    <ion-item color="{{producto.colorSobrePedido}}" *ngFor="let producto of productosResumen">
                        <ion-avatar item-left>
                            <img src="{{producto.urlImagen}}">
                        </ion-avatar>

                        <h2>{{producto.texto}}</h2>
                        <p>{{producto.tamanno}} {{producto.unidadMedida}} ({{producto.producto}} - {{producto.familia}})</p>
                        <p>{{+producto.precio | currency:'EUR':true:'1.2-2'}} (Dto: {{producto.descuento | percent}})</p>
                        <ion-badge [color]="producto.colorStock" item-right>{{producto.cantidadOferta == 0 ? producto.cantidad : producto.cantidad + "+" + producto.cantidadOferta}}</ion-badge>

                    </ion-item>
                    <ion-item *ngIf="baseImponibleParaPortes != baseImponiblePedido">
                        <ion-row>
                            <ion-col>Base Imponible Para Portes:</ion-col>
                            <ion-col style="text-align:right">{{baseImponibleParaPortes | currency:'EUR':true:'1.2-2'}}</ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col>Base Imponible Pedido:</ion-col>
                            <ion-col style="text-align:right">{{baseImponiblePedido | currency:'EUR':true:'1.2-2'}}</ion-col>
                        </ion-row>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Comentarios Picking (los ven en almacén)</ion-label>
                        <ion-textarea [(ngModel)]="clienteSeleccionado.comentarioPicking"></ion-textarea>
                    </ion-item>
                </ion-list>

            </ion-content>
        </ion-slide>
        <ion-slide *ngIf="clienteSeleccionado" style="overflow-y:scroll">
            <selector-direcciones-entrega cliente="{{clienteSeleccionado.cliente}}" (seleccionar)="seleccionarCliente($event)"></selector-direcciones-entrega>
            <ion-content>
                <ion-list *ngIf="direccionSeleccionada">
                    <ion-item>
                        <!--<ion-label>Fecha de Entrega</ion-label>-->
                        <!--<ion-input type="date" [(ngModel)]="fechaEntrega"></ion-input>-->
                        <ion-label>Fecha de Entrega:</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" [min]="fechaMinima" [(ngModel)]="fechaEntrega" cancelText="Cancelar" doneText="Seleccionar"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>Servir Junto</ion-label>
                        <ion-toggle [(ngModel)]="direccionSeleccionada.servirJunto"></ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-label>Mantener Junto</ion-label>
                        <ion-toggle [(ngModel)]="direccionSeleccionada.mantenerJunto"></ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-label>Periodo facturación</ion-label>
                        <ion-label style="text-align:right">{{clienteSeleccionado.periodoFacturacion}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Comentarios Ruta (los ve el cliente y la agencia)</ion-label>
                        <ion-textarea [(ngModel)]="direccionSeleccionada.comentarioRuta"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
        <ion-slide *ngIf="productosResumen" scrollY="true">
            <ion-content>
                <ion-item>
                    <ion-row>
                        <ion-col>Total pedido:</ion-col>
                        <ion-col style="text-align:right">{{totalPedido | currency:'EUR':true:'1.2-2'}}</ion-col>
                    </ion-row>
                </ion-item>
                <ion-item style="text-align:center" (press)="cambiarIVA()">
                    {{direccionSeleccionada.iva}}
                </ion-item>
                <selector-formas-pago *ngIf="direccionSeleccionada.iva" cliente="{{clienteSeleccionado.cliente}}" seleccionado="{{direccionSeleccionada.formaPago}}" (seleccionar)="formaPago = $event"></selector-formas-pago>
                <selector-plazos-pago *ngIf="direccionSeleccionada.iva && direccionSeleccionada.plazosPago != 'CR'" cliente="{{clienteSeleccionado.cliente}}" seleccionado="{{direccionSeleccionada.plazosPago}}" (seleccionar)="plazosPago = $event"></selector-plazos-pago>
                <h2 ion-text color="danger" *ngIf="direccionSeleccionada.plazosPago == 'CR'">¡¡¡ CONTADO RIGUROSO !!!</h2>
                <ion-item>
                  <ion-label>Crear como presupuesto</ion-label>
                  <ion-toggle [(ngModel)]="esPresupuesto"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="sePuedeServirPorGlovo">
                    <ion-label>Servir por Glovo <img src="https://glovoapp.com/assets-cdn/images/logo_togo.svg"></ion-label>
                    <ion-toggle [(ngModel)]="servirPorGlovo"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="servirPorGlovo">
                    <ion-label>{{direccionFormateada}}</ion-label>
                </ion-item>
                <ion-item *ngIf="servirPorGlovo">
                    <ion-label>Portes</ion-label>
                    <p item-right>{{ costeGlovo | currency:'EUR' }}</p>
                </ion-item>
                <button ion-button block [disabled]="direccionSeleccionada.iva && !clienteSeleccionado.cifNif && !esPresupuesto" (click)="crearPedido()">Crear Pedido</button>
            </ion-content>
        </ion-slide>
    </ion-slides>
</ion-content>
