<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="slideActual == DATOS_FISCALES">
      <ion-card-header>
          Datos Identificación Fiscal
      </ion-card-header>
      <ion-card-content>
          <ion-item *ngIf="!cliente.nifValidado || cliente.nif">
              <ion-input label="NIF" label-placement="start" #nif [disabled]="cliente.nifValidado" type="text" [(ngModel)]="cliente.nif" name="nif" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
          </ion-item>
          <ion-item *ngIf="!nombreDisabled()">
              <ion-input label="Nombre" label-placement="floating" type="text" [(ngModel)]="cliente.nombre" name="nombre" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
          </ion-item>
          <ion-label *ngIf="mensajeDatosFiscales" color="danger" class="ion-text-wrap">
          {{mensajeDatosFiscales}}
          </ion-label>
      <ion-button expand="block" [disabled]="!cliente.nif && !cliente.nombre" (click)="goToDatosGenerales()">Siguiente</ion-button>
      </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="slideActual == DATOS_GENERALES">
      <ion-card-header>
          Datos Generales
      </ion-card-header>
      
      <ion-card-content>
          <ion-card-title *ngIf="cliente && cliente.esContacto && !cliente.esUnaModificacion">
              Creando Contacto (ya existe el cliente [{{cliente.cliente}}])
          </ion-card-title>
          <ion-card-title *ngIf="cliente && cliente.esUnaModificacion">
              Modificando Cliente {{cliente.cliente}}/{{cliente.contacto}}
          </ion-card-title>
          <ion-list>
            <ion-item *ngIf="cliente.direccion">
                <ion-input label="Dirección actual" label-placement="floating" #direccionActual type="text" [(ngModel)]="cliente.direccion" name="direccionActual" [disabled]="true"></ion-input>
            </ion-item>
            <ion-fab *ngIf="cliente.direccion" horizontal="end" vertical="center" edge>
                <ion-fab-button size="small" (click)="editarDireccion()" horizontal="end"><ion-icon name="create"></ion-icon></ion-fab-button>
            </ion-fab>
              <ion-item *ngIf="!cliente.direccion">
                  <ion-input label="Dirección (solo calle y número)" label-placement="floating" #direccion type="text" [(ngModel)]="cliente.direccionCalleNumero" name="direccion" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
              </ion-item>
              <ion-item *ngIf="!cliente.direccion">
                  <ion-input label="Dirección (resto de información)" label-placement="floating" #direccionAdicional type="text" [(ngModel)]="cliente.direccionAdicional" name="direccionAdicional" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input label="Código Postal" label-placement="floating" type="text" [(ngModel)]="cliente.codigoPostal" name="codigoPostal" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
              </ion-item>
              <ion-item *ngIf="cliente.direccionValidada">
                  <ion-input label="Población" label-placement="floating" type="text" [(ngModel)]="cliente.poblacion" name="poblacion" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
              </ion-item>
              <ion-item *ngIf="cliente.direccionValidada">
                  <ion-input label="Provincia" label-placement="floating" type="text" [(ngModel)]="cliente.provincia" name="provincia" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input label="Teléfono" label-placement="floating" type="text" [(ngModel)]="cliente.telefono" name="telefono" (ionFocus)="seleccionarTexto($event)" (mouseup)="$event.preventDefault()"></ion-input>
              </ion-item>
          </ion-list>
          <ion-button expand="block" (click)="slideActual = DATOS_FISCALES">&lt; Volver a Datos Fiscales</ion-button>
          <ion-button expand="block" (click)="goToDatosComisiones()">Ir a Datos de Comisiones &gt;</ion-button>
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="slideActual == DATOS_COMISIONES">
      <ion-card-header>Datos Comisiones</ion-card-header>
      <ion-card-content>
          <ion-item *ngIf="!cliente.esUnaModificacion">
              <ion-toggle [(ngModel)]="cliente.estetica">¿Tiene Estética? <span *ngIf="cliente.estetica" style="color: var(--ion-color-success)">({{cliente.vendedorEstetica}})</span></ion-toggle>
          </ion-item>
          <ion-item *ngIf="!cliente.esUnaModificacion">
              <ion-toggle [(ngModel)]="cliente.peluqueria">¿Tiene Peluquería? <span *ngIf="cliente.peluqueria" style="color: var(--ion-color-success)">({{cliente.vendedorPeluqueria ? cliente.vendedorPeluqueria : cliente.vendedorEstetica}})</span></ion-toggle>
          </ion-item>
          <ion-item>
              <p></p>
              <p>Por favor, compruebe que los datos del cliente sean correctos:</p>
          </ion-item>
          <ion-card *ngIf="slideActual == DATOS_COMISIONES">
              <ion-card-content>
                  <p (click)="slideActual = DATOS_FISCALES"><strong>{{cliente.nombre}}</strong></p>
                  <p (click)="slideActual = DATOS_GENERALES">{{cliente.direccion}}</p>
                  <p (click)="slideActual = DATOS_GENERALES"><u>{{cliente.codigoPostal}} {{cliente.poblacion}} ({{cliente.provincia}})</u></p>
                  <p></p>
                  <p *ngIf="cliente && cliente.telefono && cliente.telefono != 'undefined' && cliente.telefono.trim()!=''" (click)="slideActual = DATOS_GENERALES"><ion-icon name="call"></ion-icon> {{cliente.telefono}}</p>
                  <p *ngIf="!(cliente && cliente.telefono && cliente.telefono != 'undefined' && cliente.telefono.trim()!='')" style="color:red;" (click)="slideActual = DATOS_GENERALES"><ion-icon name="call" color="danger"></ion-icon> SIN TELÉFONO</p>
                  <p *ngIf="cliente && cliente.nif">CIF/NIF: {{cliente.nif}}</p>
              </ion-card-content>
          </ion-card>
          
          <ion-button expand="block" (click)="slideActual = DATOS_GENERALES">&lt; Volver a Datos Generales</ion-button>
          <ion-button expand="block" [disabled]="!cliente.estetica && !cliente.peluqueria && !cliente.esUnaModificacion" (click)="goToDatosPago()">Ir a Datos de Pago &gt;</ion-button>
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="slideActual == DATOS_PAGO">
      <ion-card-header>Datos de Pago</ion-card-header>
      <ion-card-content>
          <selector-formas-pago seleccionado="{{cliente.formaPago}}" (seleccionar)="seleccionarFormaPago($event)"></selector-formas-pago>
          <ion-item *ngIf="cliente.formaPago == 'RCB'">
              <ion-input label="IBAN" label-placement="start" #iban [(ngModel)]="cliente.iban"></ion-input>
          </ion-item>
          <selector-plazos-pago seleccionado="{{cliente.plazosPago}}" (seleccionar)="cliente.plazosPago = $event"></selector-plazos-pago>
      </ion-card-content>
      <ion-button expand="block" (click)="slideActual = DATOS_COMISIONES">&lt; Volver a Datos de Comisiones</ion-button>
      <ion-button expand="block" [disabled]="cliente.formaPago=='RCB' && (!cliente.iban || cliente.iban.length < 24)" (click)="goToDatosContacto()">Ir a Datos de Contacto &gt;</ion-button>
  </ion-card>

  <ion-card *ngIf="slideActual == DATOS_CONTACTO">
      <ion-card-header>Datos de Contacto</ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="annadirPersonaContacto()">Añadir Persona de Contacto</ion-button>
        <ion-card *ngFor="let persona of cliente.personasContacto">
            <ion-fab horizontal="end">
                <ion-fab-button size="small" (click)="borrarPersonaContacto(persona)"><ion-icon name="trash"></ion-icon></ion-fab-button>
            </ion-fab>
            <ion-item>
                <ion-input label="Nombre" label-placement="start" type="text" [(ngModel)]="persona.nombre" name="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Correo-e" label-placement="start" type="email" [(ngModel)]="persona.correoElectronico" name="correoElectronico"></ion-input>
            </ion-item>
            <ion-item>
                <ion-toggle [(ngModel)]="persona.facturacionElectronica">Facturación Electrónica</ion-toggle>
            </ion-item>
        </ion-card>
        <ion-fab vertical="bottom" horizontal="end">
            <ion-fab-button size="small" (click)="annadirPersonaContacto()"><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab>          
      </ion-card-content>

      <!-- Comentarios -->
        <ion-card>
            <ion-card-header>
            Comentarios
            </ion-card-header>
            <ion-card-content>
            <ion-item>
                <ion-textarea label="Comentarios" label-placement="stacked" [(ngModel)]="cliente.comentarios" placeholder="Escribe los comentarios aquí..." auto-grow="true"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-textarea label="Comentarios Picking" label-placement="stacked" [(ngModel)]="cliente.comentariosPicking" placeholder="Escribe los comentarios sobre picking aquí..." auto-grow="true"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-textarea label="Comentarios Ruta" label-placement="stacked" [(ngModel)]="cliente.comentariosRuta" placeholder="Escribe los comentarios sobre la ruta aquí..." auto-grow="true"></ion-textarea>
            </ion-item>
            </ion-card-content>
        </ion-card>
  

      <ion-button expand="block" (click)="slideActual = DATOS_PAGO">&lt; Volver a Datos de Pago</ion-button>
      <ion-button expand="block" (click)="finalizar()">FINALIZAR</ion-button>
  </ion-card>

</ion-content>  