.swiper-container {
    height: 100%;
}

selector-almacenes {
    width: 100%;
}

.swiper-slide {
    display: block;
}

.slide-content {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    width: 100%;
}

.swiper-zoom-container {
    text-align:left !important;
}

.ion-text-right {
    margin-right: 10px;
}
