.swiper-container {
    height: 100%;
}

selector-almacenes {
    width: 100%;
}

.swiper-slide {
    display: block;    
}

.swiper-zoom-container {
    text-align:left !important;
}

.conscroll {
    overflow-y: scroll !important;
}

.ion-text-right {
    margin-right: 10px;
}