<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="comprobarCanDeactivate=true;"></ion-back-button>
    </ion-buttons>
    <ion-title>Plantilla Venta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenuBorradores()" title="Borradores">
        <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onGuardarBorrador()"
                  [disabled]="!_selectorPlantillaVenta?.hayAlgunProducto()"
                  title="Guardar borrador">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="indexActivo > 0">
        <ion-fab-button (click)="anteriorPantalla()" size="small">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="sePuedeAvanzar()">
        <ion-fab-button (click)="siguientePantalla()" size="small">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  <ion-slides #slider (ionSlideWillChange)="avanzar()" (ionSlideDidChange)="haAvanzado()">
      <ion-slide>
        <ion-item>
            <selector-almacenes seleccionado="{{almacen}}" (seleccionar)="almacen = $event"></selector-almacenes>
        </ion-item>
        <selector-clientes #inputCliente (seleccionar)="cargarProductos($event)"></selector-clientes>
      </ion-slide>
      <ion-slide *ngIf="clienteSeleccionado" scrollY="false">
          <selector-plantilla-venta cliente="{{clienteSeleccionado.cliente}}" estadoCliente="{{clienteSeleccionado.estado}}" almacen="{{almacen}}" (productosCargados)="onProductosCargados()"></selector-plantilla-venta>
      </ion-slide>
      <ion-slide scrollY="true" class="conscroll">
          <div class="conscroll" scrollY="true" *ngIf="productosResumen">
            <ion-list  scrollY="true">
                <ion-item color="{{producto.colorSobrePedido}}" *ngFor="let producto of productosResumen" (click)="abrirDetalle(producto, almacen)">
                    <ion-avatar slot="start">
                        <img src="{{producto.urlImagen}}">
                    </ion-avatar>
                    <ion-label class="ion-text-wrap">
                        <h2>{{producto.texto}}</h2>
                        <p>{{producto.tamanno}} {{producto.unidadMedida}} ({{producto.producto}} - {{producto.familia}})</p>
                        <p>{{+producto.precio | currency:'EUR'}} (Dto: {{producto.descuento | percent}})</p>
                    </ion-label>
                    <ion-badge [color]="producto.colorStock" slot="end">{{producto.cantidadOferta == 0 ? producto.cantidad : producto.cantidad + "+" + producto.cantidadOferta}}</ion-badge>
                </ion-item>
                <ion-item *ngIf="baseImponibleParaPortes != baseImponiblePedido">
                    <div>Base Imponible Para Portes:</div>
                    <div slot="end" class="ion-text-right">{{baseImponibleParaPortes | currency:'EUR'}}</div>
                </ion-item>
                <ion-item>
                    <div>Base Imponible Pedido:</div>
                    <div slot="end" class="ion-text-right">{{baseImponiblePedido | currency:'EUR'}}</div>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Comentarios Picking (los ven en almacén)</ion-label>
                    <ion-textarea [(ngModel)]="clienteSeleccionado.comentarioPicking"></ion-textarea>
                </ion-item>
                <ion-item></ion-item>
                <ion-item></ion-item>
            </ion-list>
        </div>
      </ion-slide>
      <!-- Slide Regalos (Ganavisiones) - Solo si hay ganavisiones disponibles -->
      <ion-slide *ngIf="hayGanavisionesDisponibles" scrollY="true" class="conscroll">
        <selector-regalos
          [empresa]="clienteSeleccionado.empresa"
          [cliente]="clienteSeleccionado.cliente"
          [almacen]="almacen"
          [baseImponibleBonificable]="baseImponibleBonificable"
          [servirJunto]="servirJuntoParaRegalos"
          [regalosSeleccionados]="regalosSeleccionados"
          (regalosChange)="actualizarRegalos($event)"
          (regalosInvalidados)="onRegalosInvalidados($event)"
          (productosCargados)="onProductosBonificablesCargados($event)">
        </selector-regalos>
      </ion-slide>
      <ion-slide *ngIf="clienteSeleccionado" scrollY="true" class="conscroll">
        <div scrollY="true">
            <selector-direcciones-entrega cliente="{{clienteSeleccionado.cliente}}" (seleccionar)="seleccionarCliente($event)" [totalPedido]="totalPedidoPlazosPago" [seleccionado]="contactoParaRestaurar"></selector-direcciones-entrega>
            <ion-list *ngIf="direccionSeleccionada">
                <ion-item>
                    <ion-label>Fecha de Entrega:</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" [min]="fechaMinima" [(ngModel)]="fechaEntrega" cancelText="Cancelar" doneText="Seleccionar"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Servir Junto</ion-label>
                    <ion-toggle [(ngModel)]="direccionSeleccionada.servirJunto"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Mantener Junto</ion-label>
                    <ion-toggle [(ngModel)]="direccionSeleccionada.mantenerJunto"></ion-toggle>
                </ion-item>
                <ion-item>
                    <strong>{{textoFacturacionElectronica}}</strong>
                </ion-item>
                <ion-item>
                    <ion-label slot="start">Periodo facturación</ion-label>
                    <ion-label slot="end" class="ion-text-right">{{clienteSeleccionado.periodoFacturacion}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Comentarios Ruta (los ve el cliente y la agencia)</ion-label>
                    <ion-textarea [(ngModel)]="direccionSeleccionada.comentarioRuta"></ion-textarea>
                </ion-item>
                <ion-item></ion-item>
                <ion-item></ion-item>
            </ion-list>
        </div>
      </ion-slide>
      <ion-slide *ngIf="productosResumen" scrollY="true">
        <ion-item>
            <div>Total pedido:</div>
            <div slot="end" class="ion-text-right">{{totalPedido | currency:'EUR'}}</div>
        </ion-item>
        <ion-item (click)="cambiarIVA()">
             <ion-label class="ion-text-center"> {{direccionSeleccionada.iva}} </ion-label>
        </ion-item>
        <selector-formas-pago *ngIf="direccionSeleccionada.iva" cliente="{{clienteSeleccionado.cliente}}" (seleccionar)="cambiarFormaPago($event)" [totalPedido]="totalPedidoPlazosPago" [tipoIva]="direccionSeleccionada.iva" [seleccionado]="formaPago"></selector-formas-pago>
        <selector-plazos-pago *ngIf="direccionSeleccionada.iva && direccionSeleccionada.plazosPago != 'CR'" cliente="{{clienteSeleccionado.cliente}}" (seleccionar)="cambiarPlazosPago($event.plazoPago)" [seleccionado]="plazosPago" [formaPago]="formaPago" [totalPedido]="totalPedidoPlazosPago"></selector-plazos-pago>
        <ion-item *ngIf="esTarjetaPrepago()">
            <ion-label>¿Mandar cobro por tarjeta?</ion-label>
            <ion-toggle [(ngModel)]="mandarCobroTarjeta"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="esTarjetaPrepago() && mandarCobroTarjeta">
            <ion-label position="floating">Correo tarjeta</ion-label>
            <ion-input type="email" [(ngModel)]="cobroTarjetaCorreo"></ion-input>
        </ion-item>
        <ion-item *ngIf="esTarjetaPrepago() && mandarCobroTarjeta">
            <ion-label position="floating">Móvil tarjeta</ion-label>
            <ion-input type="tel" [(ngModel)]="cobroTarjetaMovil"></ion-input>
        </ion-item>
        <div>
            <h2 class="ion-text-center" color="danger" *ngIf="direccionSeleccionada.plazosPago == 'CR'">¡¡¡ CONTADO RIGUROSO !!!</h2>
        </div>
        <ion-item>
            <ion-label>Crear como presupuesto</ion-label>
            <ion-toggle [(ngModel)]="esPresupuesto"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="direccionSeleccionada.iva && sePuedeServirPorGlovo">
            <ion-label>Servir en 2 horas <ion-img src="https://static.vecteezy.com/system/resources/previews/008/786/429/non_2x/express-delivery-icon-fast-delivery-express-and-urgent-delivery-services-stopwatch-sign-timer-and-express-delivery-inscription-fast-delivery-logo-design-vector.jpg"></ion-img></ion-label>
            <ion-toggle [(ngModel)]="servirPorGlovo"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="direccionSeleccionada.iva && !sePuedeServirPorGlovo && sePodriaServirConGlovoEnPrepago">
            <ion-label color="danger">Si hay PREPAGO podría servirse en 2 horas</ion-label>
        </ion-item>
        
        <!--
        <ion-item *ngIf="direccionSeleccionada.iva && sePuedeServirPorGlovo && servirPorGlovo">
            <ion-label>{{direccionFormateada}}</ion-label>
        </ion-item>
        -->
        <ion-item *ngIf="direccionSeleccionada.iva && sePuedeServirPorGlovo && servirPorGlovo">
            <ion-label slot="start">Portes</ion-label>
            <ion-label slot="end" class="ion-text-right">{{ costeGlovo | currency:'EUR' }}</ion-label> 
        </ion-item>
        <ion-item *ngIf="listaPedidosPendientes && listaPedidosPendientes.length > 0">
            <ion-label slot="start">Ampliar en pedido</ion-label>
            <ion-select slot="end"  [(ngModel)]="pedidoPendienteSeleccionado">
                <ion-select-option *ngFor="let pedido of listaPedidosPendientes" value="{{pedido}}">{{pedido}}</ion-select-option>
                <ion-select-option value="">Crear Pedido</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button expand="block" [disabled]="noSePuedeCrearPedido()" (click)="crearPedido()">{{textoBotonCrearPedido}}</ion-button>
      </ion-slide>
  </ion-slides>
</ion-content>
